@charset "utf-8";
/* CSS Document */

div.bj{
	width:966px;
	height:1000px;
	position:absolute;
	top:2;
	background-color:white;
	left:200px;
	border:5px solid gray;
}
div.dh{
	width:966px;
	height:26px;
	margin-top:0px;
	background-color:#F2F2F2;
}
div.fenlei{
	width:500px;
	height:40px;
	position:absolute;
	margin-left:240px;
	margin-top:20px;
}