@charset "utf-8";
/* CSS Document */
div.w {
	width: 890px;
	height: 360px;
	margin-left: 230px;
	margin-right: 230px;
	background-color: #D41420;
	margin-top: 90px;
	border: 5px solid gray;
}

div.s {
	width: 445px;
	height: 360px;
	margin-left: 0px;
	float: left;
	background-color: white;
}

div.logo {
	width: 500px;
	height: 60px;
	margin-left: 70px;
}

div.register {
	width: 117px;
	height: 30px;
	margin-left: 962px;
	background-color: #7CBE56;
	text-align: center;
	line-height: 30px;
}

div.picture {
	width: 445px;
	height: 360px;
	float: left;
	background-color: green;
}

div.picture.img {
	width: 445px;
	height: 360px;
	float: left;
}